* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  margin: 0;
  // overflow: hidden;
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul {
  margin-bottom: 0px !important;
}